# Mode
DEVELOPMENT = True
DEBUG = True

# Title of the site
SITE_TITLE = ""

# Site Domain
DOMAIN_NAME = ""

# HTTPS Settings
ENABLE_HTTPS = False

# Google analytics code UA-XXXXXX-X
GA_CODE = ""

# Secret key
SECRET_KEY = "secret key here"

# Timezone
TIMEZONE = "Asia/Calcutta"

# Application Settings
APPLICATION_HOST = "127.0.0.1"
APPLICATION_PORT = 5000

# Admins
ADMINS = ["me@sandeepraju.in"]

# Logging
ENABLE_LOGGING = not DEBUG

# Database Settings
DB_TYPE = ""  # For MySQL, use "mysql"
DB_HOST = ""
DB_USER = ""
DB_PASSWORD = ""
DB_NAME = ""
SQLALCHEMY_DATABASE_URI = "%s://%s:%s@%s/%s" % (DB_TYPE, DB_USER, DB_PASSWORD, DB_HOST, DB_NAME)

# Flask Web Assets Settings
ASSETS_DEBUG = DEBUG

# Flask Debug Toolbar Settings
DEBUG_TB_PROFILER_ENABLED = DEBUG
DEBUG_TB_TEMPLATE_EDITOR_ENABLED = DEBUG

# Flask Mail Configuration
MAIL_SERVER = ""  # for gmail, use "smtp.gmail.com"
MAIL_PORT = <mail_port_number>  # for gmail, use 465
MAIL_USE_TLS = False  # for gmail, False
MAIL_USE_SSL = True  # for gmail, True
MAIL_USERNAME = ""  # for gmail, if email is user@gmail.com, then use "user"
MAIL_PASSWORD = ""
MAIL_DEFAULT_SENDER = ""
MAIL_MAX_EMAILS = 50
MAIL_SUPPRESS_SEND = DEBUG
